
<div class="container">
  <div class="row">
    <h1 style="text-align: center;">{{title}}</h1>
  </div>
  <form>
    <div class="row">
    <h4 for="">Ingrese el primer numero</h4>
    <input class="form-control" type="number" [(ngModel)]="numero1" name="numero1" >
    <h4 for="">Ingrese el segundo numero</h4>
    <input class="form-control" type="number"  [(ngModel)]="numero2" name="numero2">
    </div>
    <div class="row pt-4">
      <div class="col ">
        <input class="btn btn-dark"  type="submit" value="Sumar" (click)="sumar()">
      </div>
      <div class="col">
        <input class="btn btn-dark"  type="submit" value="Restar" (click)="restar()">
      </div>
      <div class="col">
        <input class="btn btn-dark"  type="submit" value="Multiplicar" (click)="multiplicar()">
      </div>
      <div class="col">
        <input class="btn btn-dark"  type="submit" value="Dividir" (click)="dividir()">
      </div>
    </div>
  </form>
  <div class="row pt-4">
    <h3> El resultado es : {{Resultado}}</h3>
  </div>

</div>
